body
{
    /*background-image: url(../images/bg.jpg);
    background-size: auto;
    */
    background-image: linear-gradient(#6793bf, #a35858); /* #68a4b0, #36506b */
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}   
.link-button .img-rounded {
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 50%;
    -webkit-transition: transform 0.2s;
}
.link-button .img-rounded:hover{
    -webkit-transition: transform 0.2s;
    transform: scale(1.05);
}
.link-button .img-rounded:active {
    -webkit-transition: transform 0.2s;
    transform: scale(1.0);
}
.icons {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.icon-row
{
    display: inline-block;
}
a, a:active, a:focus {
    outline: none;
}
